#page {
    background-color: lightsteelblue;
    height: 100%;
    width: 100%;
}
#heading {
    /* border: 2px dashed red; */
    height: 8%;
    width: 100%;
    margin-bottom: 50px;    
}
.h1 {
    float: left;
    margin: 20px;
}
.h3 {
    float: right;
    margin: 20px;
}
#mainbox {
    /* border: 2px dashed red; */
    height: 60%;
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
}
#mainbox > div {
    height: 85%;
    width: 40%;
    /* border: 2px dashed black; */
    float: left;
    margin: 4%;
}
.image_box {
    background-color: blue;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}
#foam {
    display: grid;
    margin: 15px 0px;
    height: 50px;
    border-radius: 5px;
}
.signin_button {
    background-color: orangered;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px 10px;
}
#google_buttton {
    border: 2px solid blue;
    background-color: blue;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    /* font-size: 20px; */
    color: white;
    /* text-align: right; */
    cursor: pointer;
    margin: 0px 60px;
}