#top-bar {
    width: 100%;
    height: 100px;
    
}
#chargeBee {
    width: 140px;
    height: 80px;
    
    float: left;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: 10px;
}
.top-left {
    width: 100px;
    height: 80px;
    
    float: left;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 540;
    padding-top: 20px;
}
#top-right {
    background-color: rgb(255,120,70);
    width: 200px;
    height: 25px;
    float: right;
    margin: 20px 50px 20px 10px;
    font-family: 'Karla', sans-serif;
    font-weight: 540;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
#log-in {
    width: 100px;
    height: 25px;
    float: right;
    margin: 25px 0;
    font-family: 'Karla', sans-serif;    
    color: black;
    font-weight: 540;
    cursor: pointer;
}
span {
    font-size: 20px;
}



#top-box {
    width: 77%;
    height: 1000px;
    margin:  30px auto;
    
}
#top-box > div:first-child {
    width: 100%;
    height: 100px;
    
}
#usd {
    
    color: rgb(80,10,210);
    width: 70px;
    border-radius: 17px;
    border: lightgray 1px solid;
}
#usd,#duration{
    height: 40px;
    
    
    margin-top: 20px;
    
    float: right;
    font-family: 'Karla', sans-serif;
    font-weight: 520;
    font-size: 16px;
   
}
.kerla {
    font-family: 'Karla', sans-serif;
}
.big-font {
    font-size: 40px;
}
#duration {
   
    text-align: center;
    margin-right: 10px;
}
#duration > div{
    float: left;
    
    width: 85px;
    height: 30px;
    
    border: lightgray 1px solid;
    padding-top: 10px;
}
#annual {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: rgb(232,219,251);
}
#monthly {
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

#vr {
    border-left:1px solid #000;
    height:40px;
    
}
#mid-section > div {
    width: 22%;
    height: 700px;
    /* Dont remove this border */
    border: lightgray 1px solid;
    float: left;
    padding: 16px;
}
#welcome,#mid-section > div:first-child {
    height: 270px;
    border: white 1px solid;
    margin: 100px auto;
}
img {
    height: 40px;
}
.blue {
    color:  rgb(82,67,241);
}
/* #rise > div {
    margin-bottom: 1000px;
    float: unset;
} */
.mid-text {
    font-size: 25px;
}
.dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    }
.mid-button {
    text-align: center;
    padding: 13px;
    border-radius: 2px;
    height: 25px;
    width: 180px;
    background-color: rgb(57, 48, 156);
    margin-top: 20px;
    color: white;
}
.faded-text {
    color: gray;
    margin-top: 100px;
    margin-bottom: 40px;
}

.list {
    height: 200px;
    
    text-align: left;
}
.list ul,.list ol {
    margin: 20px;
    padding: 0;
}
#over {
    display: none;
}

a:hover + #over { 
display: block; 
color: green; 
height: 50px;
width: 50px;
background-color: black;
font-size: 15px; }

a{
    text-decoration: none;
}










#page {
    background-color: rgb(222, 239, 246);
}
#box11 {
    /* */
    height: 650px;
    width: 1500px;
    padding: 50px;
}
.boxleft {
    height: 600px;
    width: 750px;
   
    float: left;
    margin: 0px 0 0px 0px;
}

.h3 {
   
    height: 100px;
    width: 470px;    
    float: left;
    margin: 20px 40px;
    font-size: 30px;
    text-align: center;
}

.image1 {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 70px;
}
#logo {
    height: 60px;
    width: 162px;
    margin: 10px;
}
.image2 {
    height: 200px;
    width: 150px;
    margin: 0px 40px;
    float: left;
}
.h {
   
    height: 100px;
    width: 470px;    
    float: left;
    margin: 40px 20px;
    font-size: 25px;
}
#boxright {
    height: 600px;
    width: 500px;
   
    float: left;
    margin: 30px;
    background-color: white;
}
#boxright > div {
    display: grid;
    padding: 10px;
    margin: 5px;
    height: 80px;
}
.lastbox1 {
    background-color: darkblue;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}





/* keshav down part */
#id1{
    height: 700px;
    width: 900px;
    
    margin: 10px auto;
}
#id2{
        height: 400px;
        width: 400px;
}
.img{
        height: 140x;
        width: 100px;
        margin: 10px 150px;
        border-radius: 50px;
        
    } 
#option{
    height: 90px;
    width: 500px;
}
.cls1{           
    height: 90px;
    width:400px;​
}
.opt{
    height: 70px;
    width: 400px;
    margin: auto;
    text-align: center;
}
.cls2{
  float: left;
  height: 700px;
  width: 300px;
}
.cls4{
  height: 90px;
  width: 500px;
  text-align: left;
  border: 20x solid black;
  font-size: 20px;
}

#End {
    width: 100%;
    height: 250px;
    margin: 200px 0 0 0;
    
    
}
#lists {
    width: 100%;
    height: 400px;
    text-align: left;
    margin: auto 100px;
    font-size:15px
}

.p1 {
    float: left;
    width: 250px;
    height: 350px;
    color: blue;
    margin-left: 100px;
    text-align: left;
    ;
}
.p1 > p {
    text-align: left; 
    font-size:15px
}
div > h3{
    color:black;
    
}
#last-logo{
    height: 50px;
    width: 200px;
    float: right;
    
}
#last-logo > div {
    width: 24%;
    height: 50px;
    
    float: left;
}
#last-logo > div > img {
    height: 30px; 
}
#id1{
    height: 200px;
    width: 900px;
    margin: 10px auto;
    text-align: center;
}
.cls{
    font-size: 30px;
    float: left;

}
.p1 > p:hover{
    font-size: 18px;
}
#last-line {
    height: 150px;
    width: 75%;
    
    margin: auto;
}