#page {
    background-color: lightsteelblue;
}
#box {
    height: 650px;
    width: 1500px;
    padding: 50px;
}
.boxleft {
    height: 600px;
    width: 750px;
    /* border: 2px dashed red; */
    float: left;
    margin: 20px 0px 0px 100px;
}

.h3 {
    /* border: 2px dashed red; */
    height: 100px;
    width: 470px;    
    float: left;
    margin: 20px 40px;
    font-size: 30px;
    text-align: center;
}

.image1 {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin-left: 70px;
}
#logo {
    height: 60px;
    width: 162px;
    margin: 10px;
}
.image2 {
    height: 200px;
    width: 150px;
    margin: 0px 40px;
    float: left;
}
.h {
    /* border: 2px dashed red; */
    height: 100px;
    width: 470px;    
    float: left;
    margin: 40px 20px;
    font-size: 25px;
}
#boxright {
    height: 600px;
    width: 500px;
    /* border: 2px dashed red; */
    float: left;
    margin: 30px;
    background-color: lightyellow;
}
#boxright > div {
    display: grid;
    padding: 10px;
    margin: 5px;
    height: 80px;
}
.lastbox1 {
    background-color: darkblue;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

