#page {
    /* background-color: blue; */
    height: 100%;
    width: 100%;
}
#heading {
    height: 100%;
    width: 30%;
    /* margin-bottom: 50px;     */
    float: left;
}
#chargeBee {
    width: 140px;
    height: 80px;
    
    float: left;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
}
.image_name {
    border: 2px solid rgb(56,3,154);
    height: 15%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(56,3,154);
}
.image_diss {
    border: 2px solid rgb(80,10,210);
    height: 35%;
    width: 100%;
    text-align: center;
    color: white;
    background-color:rgb(80,10,210);
}
a:link {
    text-decoration: none;
  }

#heading1 {
    /* border: 2px dashed black; */
    height: 100%;
    width: 65%;
    margin-bottom: 50px;    
    float: left;
}
#boxright {
    
    float: left;
}
#boxright > div {
    display: grid;
    padding: 10px;
    margin: 0px 30px;
    height: 100px;
    font-size: 20px;
}
.lastbox1 {
    background-color: darkblue;
    border-radius: 5px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 20px 40px;
}
.color {
    
    color: darkgrey;
}


#heading2 {
    /* border: 2px dashed red; */
    height: 8%;
    width: 100%;
    margin-bottom: 50px;      
}
.h1 {
    float: left;
    margin: 20px;
    font-family: 'Dancing Script', cursive
    /* font: 30px; */
}
.h2 {
    float: right;
    margin: 20px;
    cursor: pointer;
}


#box {
    border: 0.5px solid gray;
    height: 75%;
    width: 50%;
    border-radius: 10px;
    margin-left: 30%;
}

#lastimage {
    margin: 60px 0px 0px 300px;
}